<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有文章 - 我的博客</title>
</head>
<body>
<h1>所有文章</h1>
<ul>
    {{ range $key, $article := . }}
        <li>
            {{/*            这里有问题*/}}
            {{/*            <a href="{{ $article.Link }}">*/}}
            <a href="http://127.0.0.1:3000/articles/{{ $article.ID }}">
                <strong>{{ $article.ID }}</strong>:{{ $article.Title }}
            </a>
        </li>
    {{ end }}
</ul>
</body>
</html>