<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }} - 我的博客</title>
</head>
<body>
<p>ID：{{ .ID }}</p>
<p>标题：{{ .Title }}</p>
<p>内容：{{ .Body }}</p>
</body>
</html>