<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }} - 我的博客</title>
</head>
<body>
<p>ID：{{ .ID }}</p>
<p>标题：{{ .Title }}</p>
<p>内容：{{ .Body }}</p>

{{/* 构建删除按钮  */}}
{{ $idString := Uint64ToString .ID  }}
<form action="{{ RouteName2URL "articles.delete" "id" $idString }}" method="post">
    <button type="submit" onclick="return confirm('删除动作不可逆，请确定是否继续')">删除</button>
</form>
</body>
</html>